.cena {
  background-image: url("images/cena.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.rd {
  color: red;
  font-size: 36px;
  text-align: center;
}
body {
  background: linear-gradient(
    90deg,
    rgb(62, 65, 64) 0%,
    rgb(141, 80, 211) 43%,
    rgb(109, 93, 110) 100%
  );
  /*background: linear-gradient(90deg, #99bbff 0%, #4d88ff 43%, #8080ff 100%);*/
  background-color: #b3b3ff;
}

.loginbox {
  border: 2px solid black;
  background: linear-gradient(
    90deg,
    rgb(141, 77, 96) 0%,
    rgb(221, 121, 208) 43%,
    rgb(219, 127, 84) 100%
  );
  margin-top: 5%;
  border-radius: 5%;
}
