:root {
  --bg: linear-gradient(  
    90deg,
    #e6f5ff 0%,
    #b3e0ff 43%,
    #99e6e6 100%
  );
  
}

#bdcena{
  background-image: url("images/cena.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.cena {
  background-image: url("images/cena.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.rd {
  color: red;
  font-size: 36px;
  text-align: center;
}
/*body {
  background: linear-gradient(
    90deg,
    rgb(62, 65, 64) 0%,
    rgb(141, 80, 211) 43%,
    rgb(109, 93, 110) 100%
  );*/


  body {
  background: linear-gradient(  
    90deg,
    #e6f5ff 0%,
    #b3e0ff 43%,
    #99e6e6 100%
  );
  /*background: linear-gradient(90deg, #99bbff 0%, #4d88ff 43%, #8080ff 100%);*/
  /*background-color: #b3b3ff;*/
}

.chat-win{
  /*background-color: red;*/
  background: linear-gradient(
    90deg,
    #66e0ff 0%,
    #b3ffb3 43%,
    #e6ffff 100%
  );
  border-radius:3%;
  padding:20px;
}
.msg-win{
  display: flex;
  /*border:2px solid red;*/
  margin-bottom:50px;
  margin-left:-1.25%;
  margin-right:-1.25%;
}

#msgToSend{
  flex-grow:100;
  height:60px;
}

.rly-win{
  display: flex;
  /*border:2px solid red;*/
  margin-bottom:50px;
  margin-left:-1.25%;
  margin-right:-1.25%;
}

.rlyToSend{
  flex-grow:100;
  height:60px;
}

.loginbox {
  border: 2px solid black;
  background: linear-gradient(
    90deg,
    #66e0ff 0%,
    #b3ffb3 43%,
    #e6ffff 100%
  );
  margin-top: 5%;
  border-radius: 5%;
}

.chatbox-container {
  /* max-width: 600px;
  margin: 0 auto; */
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  /*background-color: #fff;*/
  background: linear-gradient(
    90deg,
    #66ff66 0%,    
    #4dff4d 100%
  );

  /* margin-top: 100px;
  margin-bottom: 100px; */

  margin-bottom: 20px;

  justify-content: space-around;
  align-items: flex-start;
}

.senderbox {
  width: 100%;
  display: flex;
  /* align-items: flex-start; */
}
.left-child {
  margin-left: 0;
  margin-right: auto;
}
.mid-child {
  margin: 0 auto;
}

.replyset{
  display: none;
}
.replybox-container {
  
  max-width: 50%;
  /* margin: 0 auto; */
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  /*background-color: #fff;*/
  background: linear-gradient(
    90deg,
    #ccffcc 0%,    
    #b3ffb3 100%
  );

  /* margin-top: 100px;
  margin-bottom: 100px; */
  margin-bottom: 10px;

  justify-content: space-around;
  align-items: flex-start;
  border-radius: 5%;
}

.bbtn{
  cursor: pointer;
  border:none;
  background-color: var(--bg);
}


/* Failed attempt at animation
.disapp_reply{
  background-color: yellow;
  font-weight: bold;
  width:100px;
  margin-left:100px;
  position:relative;
  -webkit-animation-name:example;
  -webkit-animation-duration:4s;
  -webkit-animation-delay:2s;

  animation-name: example;
    animation-duration: 4s;
    animation-delay: 2s;
}
@-webkit-keyframes example {
  0%:{margin-left:0px;}
  25%:{margin-left:20px;}
  50%:{margin-left:80px;}
  75%:{margin-left:100px;}
  100%:{margin-left:200px;display:none;}
}
*/