{% extends 'billing/base.html' %} 
{% block title %}Our Home{% endblock %} 
{%load static %} 
{% block user %}{{user}}{% endblock %} 
{% block body %}
    
	<div class="jumbotron">
		<h1 class="display-4">Welcome to the Discussion Forum</h1>
		<p class="lead">This is a discussion Forum where you can interact with others and complain about people</p>
		<hr class="my-4">

			  <p>Only Registered users can post comments or start new discussions</p>

			  <!-- <a class="btn btn-primary btn-lg" href="{% url 'billing:index' %}" role="button">Go to Home Page</a> -->
			  <a class="btn btn-primary btn-lg" href="javascript:dynamicChat()" role="button">Go to Home Page</a>
			  
	</div>

	<div class="container">
		<h1 class="text-center">This is the {{forum_title}} discussion forum</h1>
	</div>

	

	<div class="container border  chat-win" id="chatContainer">
	
    </div>

    <div class="container">
    	<form action="" id="msg-form" name="msg-form" class="msg-win" method="post"> 
    	  <!-- {% csrf_token %} -->
    	  <input type="hidden" name="user" id="prezuser" value="{{ user }}">
    	  <input type='text' id='msgToSend' name='msgToSend' />
    	  <button type='submit' class='btn btn-primary'>Send</button>
        </form>
     
    </div>
<script type="text/javascript" src="{% static 'billing/loadchats.js' %}" ></script>
{% endblock %} 
{%block loutslot %}
<a class="dropdown-item" href="{% url 'billing:logout_user' %}">Logout</a>
{% endblock %}

