{% extends 'billing/base.html' %}
{% block title %}{{title}}{% endblock %}


{% block body %}
<div class='container-fluid'>
	<div class='row'>
		<div class='col-sm-12 col-md-8 offset-lg-4 col-lg-4 loginbox'>
			<div class='panel panel-default justify-content-center d-flex'>
				<div class='panel-body'>
					<h3>{{title}}</h3>

					{% if error_message %}
						<p><strong> {{ error_message }}</p>
					{% endif %}

					
					<form class='form-horizontal' action="" method="post" enctype="multipart/form-data">
						{% csrf_token %}
						{% include 'billing/login-template.html' %}
						<div class='form-group'>
							<div class='col-sm-offset-2 col-sm-10'>
								<button type='submit' class='btn btn-success'>Submit</button>
							</div>
						</div>
					</form>
				    
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}